.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* tr:nth-child(1) {
  font-weight: 700;
}
tr:nth-child(1) td > a {
  pointer-events: none;
  cursor: default;
  text-decoration: none;
  color: black;
} */
table {
  border-spacing: 0;
}

td {
  padding-right: 15px;
  padding-bottom: 10px;
}

td > input[type="text"] {
  width: 100%;
  display: inline-block; /*this will set the width of the textbox equal to its container td*/
}
